$color-1: #000000;
$color-2: #51207B;
// $color-1: #DF1C3C
// $color-2: #C1C6C9

html{
	background-color: $color-1;
}
html::after{
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 400%;
	width: 100%;
	margin-top: 80px;
	background-color: transparent;
	background-image: url("../img/header-week-3-atl.png");
//	background-image: url("../img/header-week-3-sd.png");
	background-position: center top;
	background-repeat: no-repeat;
}
html::before{
	content: "";
	position: fixed;
	top: 0;
	width: 50%;
	right: 0;
	z-index: -1;
	height: 100%;
	background-color: $color-2;
}
#header{
	background: #fff;
}
