$headerHeight: 40px; //ex: 40px or false
$headerSideOffset: $headerHeight - 20px; //ex: 20px or false

// New Promo
$promos: (
    //(
	// 	image: "../img/sidebar-jude.jpg",
	// 	target: "ama-jude",
	// 	height: 264px,
	// 	position: true
    //),
);

// Sidebar Variables
$sidebarImage [ Here is a syntax error ]: "../img/SB-week-7.jpg";
$sidebarHeader: "Lemme Get a McPick Two!";
$sidebarText: "A defensive battle in San Antonio ended fittingly when De'Vante Bausby intercepted Josh Woodrum's 2-point conversion attempt and ran it back the other way, turning what would have been a game-tying play for the Stallions into essentially a walk-off play for the Commanders with the AAF's first ever pick 2.";
$sidebarPicHeight: 347px;
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
