$headerHeight: 40px; //ex: 40px or false
$headerSideOffset: $headerHeight - 20px; //ex: 20px or false

// New Promo
$promos: (
    //(
	// 	image: "../img/sidebar-jude.jpg",
	// 	target: "ama-jude",
	// 	height: 264px,
	// 	position: true
    //),
);

// Sidebar Variables
$sidebarImage: "../img/SB-week-5.jpg";
$sidebarHeader: "Hat Trick and Six";
$sidebarText: "The San Diego Fleet improved to 3-2 and remain perfect at home with a 27-25 win over the Salt Lake Stallions. The Fleet defense came away with five total takeaways in the contest, three of which were interceptions made by Kameron Kelly. Kelly took his Alliance-record third interception back to the house, the first pick six of his career.";
$sidebarPicHeight: 200px;
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
