$headerHeight: 40px; //ex: 40px or false
$headerSideOffset: $headerHeight - 20px; //ex: 20px or false

// New Promo
$promos: (
    (
	 	image: "../img/ama-shipyard.jpg",
	 	target: "ama-shipyard",
	 	height: 264px,
	 	position: true
    ),
);

// Sidebar Variables
$sidebarImage: "../img/SB-week-three.jpg";
$sidebarHeader: "One for the Record Books";
$sidebarText: "In week 3, Ja'Quan Gardner set the AAF record for longest scoring play, breaking free for an 83-yard touchdown run early in the 3rd quarter. Overall, he rushed 12 times for 122 yards, helping his San Diego Fleet (2-1) sail into a 1st place tie in the West.";
$sidebarPicHeight: 252px;
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
