// brand
$aaf-crown: "../img/a.png";

// image sprites
$team-icons: "../img/j.png";
$team-icons--large: "../img/k.png";
$post-icons: "../img/h.png";
$special-icons: "../img/e.png";
$reddit-icons: "../img/f.png";
$other-icons: "../img/g.png";
$banners: null;
$buttons: null;

// night mode


// deprecaiting
$aaf-icons: "../img/j.png";
