
// AAF Teams
$aaf-teams: (
	league: "aaf",
	name: "aaf",
	abbr: "AAF",
	url: "AAFB",
	color-1: #012B66,
	color-2: #C02C27,
	color-3: #A9ACAB,
	fg: #A9ACAB,
	bg: #012B66,
),(
	league: "aaf",
	name: "Hotshots",
	abbr: "ARI",
	url: "ARZHotshots",
	color-1: #1B4734,
	color-2: #F7B844,
	color-3: #ED4434,
	fg: #F7B844,
	bg: #1B4734,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Legends",
	abbr: "ATL",
	url: "ATLLegends",
	color-1: #481D69,
	color-2: #C5B783,
	color-3: #FFFFFF,
	fg: #C5B783,
	bg: #481D69,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Iron",
	abbr: "BIR",
	url: "BHIron",
	color-1: #000000,
	color-2: #7C878E,
	color-3: #C7C9C7,
	fg: #C7C9C7,
	bg: #000000,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Express",
	abbr: "MEM",
	url: "MemExpress",
	color-1: #C82E2F,
	color-2: #0C2340,
	color-3: #FFFFFF,
	fg: #0C2340,
	bg: #C82E2F,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Apollos",
	abbr: "ORL",
	url: "OrlApollos",
	color-1: #0C2340,
	color-2: #EE4E34,
	color-3: #F1813A,
	fg: #0C2340,
	bg: #F1813A,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Stallions",
	abbr: "SL",
	url: "SLCStallions",
	color-1: #0032A0,
	color-2: #4698CA,
	color-3: #C1C6C8,
	fg: #4698CA,
	bg: #0032A0,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Commanders",
	abbr: "SA",
	url: "CommandersSA",
	color-1: #651C32,
	color-2: #C82E2F,
	color-3: #C7C9C7,
	fg: #C7C9C7,
	bg: #651C32,
	eliminated:  false,
	champion:  false
),(
	league: "aaf",
	name: "Fleet",
	abbr: "SD",
	url: "SDFleet",
	color-1: #333F48,
	color-2: #F9C747,
	color-3: #A2AAAD,
	fg: #333F48,
	bg: #F9C747,
	eliminated:  false,
	champion:  false
);
